/* config geral */
    *{
margin: 0;
padding: 0;
}
a{
    text-decoration: none;
    color: none;
}
strong{
    color: #D42401;
}
/* config box maior "corpo principal" */
#container1{
    background-color:#F5EBDC;
    margin: 10vmin;
    width: 1150px;
    height: 1130px;
}
/* configs de cabeça */
header{
    padding-top: 50px;
    background:url(img/image\ 1.png);
    background-repeat: no-repeat;
    background-size: 6
    70px;
    background-position: absolute;
    background-position-x: 365px;
    background-position-y: 60px;
    text-align: center;
}
    header > h1{
        padding-top: 20px;
        font-size: 28px;
        }
        header > p{
            color:#502314;
            font-style: bold;
            padding: 25px;
            font-size:20px;
            text-align: center;
        }
            #colap{
                color:#502314;
                text-align: center;
                font-size: 18px;
                padding-top: 0;
                padding-left: 95px;
            }
/* area dos burgs */
#container2{
    padding: 90px;
    display: flex;
    flex-flow: row wrap;
    justify-content:stretch;
    align-content: stretch;
}
/* retangulo superior da area dos burgs */
    .retangulotop{
        background-color: white;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 300px;
        height: 200px;
    }
/* retangulo inferior da area dos burgs */
    .retangulobot{
        background-color: transparent;
        width: 300px;
        height: 100px;
    }
/* junção das duas areas do burg, //////// faz sentido???/////// REVER*/
        .corpo{
            cursor: pointer;
            height: 300px;
            background-color:#FED8B5;
            margin: 10px;
            border: 10px;
        }
        .retangulotop, .corpo{
            border-radius: 15px 15px 0px 0px;
        }
            .ativo, .corpo:hover{
            border:red;
            background-color:#FE9738;
            transform: scale(0.95);
            }
/* config dos 3P do box burg */
.p1{
    padding-top: 15px;
    padding-left: 20px;
    color:#D42401;
    font-weight: bold;
    font-size: 20px;
    }
    .p2{
        font-size: 14px;
        padding-left: 20px;
        }
        .p3{
            padding-right: 20px;
            font-size: 18px;
            text-align: right;
            padding-bottom: 20px;
            }
            .p3 > strong{
                font-size: 34px;
                }
/* img de cada burg */
#retangulotop1{
    background-image: url(img/image\ 2.png);
}
#retangulotop2{
    background-image: url(img/image\ 3.png);
}
#retangulotop3{
    background-image: url(img/image\ 4.png);
}
#retangulotop4{
    background-image: url(img/image\ 5.png);
}
#retangulotop5{
    background-image: url(img/image\ 6.png);
}
#retangulotop6{
    background-image: url(img/image\ 7.png);
}
/* area de cupom, que fica oculta */
#rescodigo {
    display: none;
    border-radius: 5px 5px 10px 10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.39);
    margin: 80px 80px 0px 80px;
    background-color: white;
    width: 950px;
    height: 250px;
    text-align: center;
}
    #rescodigo > p{
        padding-top: 30px;
        color: #502314;
        font-size: 24px;
    }
 
/* quadrado q não sei a função, estetica?  */
        #quadradoale{
            background-color: #FED8B5;
            width: 86px;
            height: 90px;
        }
/*  retangulo onde imprime os codes aleatorios*/
        #codealeatorio{
            background-color: #F5EBDC;
            width: 240px;
            height: 90px;
            box-shadow:5px 0px 4px rgba(0, 0, 0, 0.15);
            border-radius: 0px 15px 15px 0px;
        }
/* config do paragrafo  */
            #codealeatorio > p{
                color: #502314;
                font-size: 36px;
                text-align: center;
                padding: 25px;
            }
/* junta o quadrado e o retangulo//// faz sentido? REVER */
        #retanguloale{
            padding-top:20px;
            padding-left: 250px;
            display: flex;
            flex-flow: row;
        }
/* final da pag */    
footer{
    padding-left: 215px;
    padding-top: 5px;
    padding-bottom: 5px;
}
    footer > p {
        font-size: 20px;
        color:#502314;
        text-align: center;
    }